.react-calendar {
    margin: 0 auto;

}
.cal-1 {
    padding: 20px 30px;
    .react-calendar {
        width: 350px;
        max-width: 100%;
        background: rgb(255, 255, 255);  // 背景
        // border: 2px solid #6909fa;  // 外框
        // font-family: Arial, Helvetica, sans-serif;
        line-height: 1.125em;
        box-shadow: 0 0 4px 2px #797777;
    }
    .react-calendar--doubleView {
        width: 700px;
    }
    .react-calendar--doubleView .react-calendar__viewContainer {
      display: flex;
      margin: -0.5em;
    }
    .react-calendar--doubleView .react-calendar__viewContainer > * {
      width: 50%;
      margin: 0.5em;
    }
    .react-calendar,
    .react-calendar *,
    .react-calendar *:before,
    .react-calendar *:after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    .react-calendar button {
        margin: 0;
        border: 0;
        outline: none;
    }
    .react-calendar button:enabled:hover {
      cursor: pointer;
    }
    .react-calendar__navigation { // 上半部
      display: flex;
      height: 44px;
      margin-bottom: 0;
    
      background-color: $calendar-background-color;
    }
    .react-calendar__navigation button { 
      min-width: 44px;
      background: none;
    }
    .react-calendar__navigation button:disabled {
      background-color: #f0f0f0;
    }
    .react-calendar__navigation button:enabled:hover,
    .react-calendar__navigation button:enabled:focus { 
      background-color: $calendar-hover-color;
    }
    .react-calendar__month-view__weekdays { //week 部份
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.75em;
    
      background-color: $calendar-background-color;
    }
    .react-calendar__month-view__weekdays__weekday {  // week 中的每一個week
    
        padding: 0.5em;
    
    
        abbr {
            text-decoration: none;
            cursor: pointer;
        }
        &:hover {
            background-color: $calendar-hover-color;
        }
    
        
    }
    .react-calendar__month-view__weekNumbers .react-calendar__tile {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.75em;
      font-weight: bold;
    }
    
    .react-calendar__month-view__days__day--weekend { // 周末
      color: #ea2c2c;  
    }
    .react-calendar__month-view__days__day--neighboringMonth {
      color: #c7c7c7;   // 月曆中其他月份的日期
    }
    .react-calendar__year-view .react-calendar__tile,
    .react-calendar__decade-view .react-calendar__tile,
    .react-calendar__century-view .react-calendar__tile {
      padding: 2em 0.5em;
    }
    .react-calendar__tile {
      max-width: 100%;
      padding: 10px 6.6667px;
      background: none;
      text-align: center;
      line-height: 16px;
    }
    .react-calendar__tile:disabled {
      background-color: #0f0e0e;
    }
    
    
    
    .react-calendar__tile:enabled:hover,
    .react-calendar__tile:enabled:focus {
      background-color: #9d54e6;  //放在上面背景變色
    }
    .react-calendar__tile--now {
      background: #ffff83; //目前日期
    }
    .react-calendar__tile--now:enabled:hover,
    .react-calendar__tile--now:enabled:focus {
      background: #ffff2e;  //目前日期 hover
    }
    .react-calendar__tile--hasActive {
      background: #050505;
    }
    .react-calendar__tile--hasActive:enabled:hover,
    .react-calendar__tile--hasActive:enabled:focus {
      background: #a9d4ff;
    }
    .react-calendar__tile--active {
      background: #fdeaff;  //選定日期
      color: #8c33e4;
    }
    .react-calendar__tile--active:enabled:hover,
    .react-calendar__tile--active:enabled:focus {
      background: $calendar-day-chose;  // 選定日期hover
      color: white;
      border-radius: 10px;
    }
    .react-calendar--selectRange .react-calendar__tile--hover {
      background-color: #e6e6e6;
    }
    
    
    .react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeEnd {
        background-color: #8c33e4;
        color: white;
        border-radius: 0 10px 10px 0;
    }
    
    .react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart {
        background-color: #8c33e4;
        color: white;
        border-radius:  10px 0 0 10px;
    }
    
    .react-calendar__tile.react-calendar__tile--hover {
        background-color: #fdeaff;
    }
}

.cal-2 {
    padding: 20px 30px;
    .react-calendar {
        width: 350px;
        max-width: 100%;
        background: rgb(255, 255, 255);  // 背景
        // border: 2px solid #6909fa;  // 外框
        // font-family: Arial, Helvetica, sans-serif;
        line-height: 1.125em;
        box-shadow: 0 0 4px 2px #797777;
    }
    .react-calendar--doubleView {
        width: 700px;
    }
    .react-calendar--doubleView .react-calendar__viewContainer {
      display: flex;
      margin: -0.5em;
    }
    .react-calendar--doubleView .react-calendar__viewContainer > * {
      width: 50%;
      margin: 0.5em;
    }
    .react-calendar,
    .react-calendar *,
    .react-calendar *:before,
    .react-calendar *:after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    .react-calendar button {
        margin: 0;
        border: 0;
        outline: none;
    }
    .react-calendar button:enabled:hover {
      cursor: pointer;
    }
    .react-calendar__navigation { // 上半部
      display: flex;
      height: 44px;
    //   margin-bottom: 1em;
    
      background-color: $calendar-background-color;
    }
    .react-calendar__navigation button { 
      min-width: 44px;
      background: none;
    }
    .react-calendar__navigation button:disabled {
      background-color: #f0f0f0;
    }
    .react-calendar__navigation button:enabled:hover,
    .react-calendar__navigation button:enabled:focus { 
      background-color: $calendar-hover-color;
    }
    .react-calendar__month-view__weekdays { //week 部份
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.75em;
    
      background-color: $calendar-background-color;
    }
    .react-calendar__month-view__weekdays__weekday {  // week 中的每一個week
    
        padding: 0.5em;
    
    
        abbr {
            text-decoration: none;
            cursor: pointer;
        }
        &:hover {
            background-color: $calendar-hover-color;
        }
    
        
    }
    .react-calendar__month-view__weekNumbers .react-calendar__tile {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.75em;
      font-weight: bold;
    }
    
    .react-calendar__month-view__days__day--weekend { // 周末
      color: #ea2c2c;  
    }
    .react-calendar__month-view__days__day--neighboringMonth {
      color: #c7c7c7;   // 月曆中其他月份的日期
    }
    .react-calendar__year-view .react-calendar__tile,
    .react-calendar__decade-view .react-calendar__tile,
    .react-calendar__century-view .react-calendar__tile {
      padding: 2em 0.5em;
    }
    .react-calendar__tile {
      max-width: 100%;
      padding: 10px 6.6667px;
      background: none;
      text-align: center;
      line-height: 16px;
    }
    .react-calendar__tile:disabled {
      background-color: #0f0e0e;
    }
    
    
    
    .react-calendar__tile:enabled:hover,
    .react-calendar__tile:enabled:focus {
      background-color: #9d54e6;  //放在上面背景變色
    }
    .react-calendar__tile--now {
      background: #ffff83; //目前日期
    }
    .react-calendar__tile--now:enabled:hover,
    .react-calendar__tile--now:enabled:focus {
      background: #ffff2e;  //目前日期 hover
    }
    .react-calendar__tile--hasActive {
      background: #050505;
    }
    .react-calendar__tile--hasActive:enabled:hover,
    .react-calendar__tile--hasActive:enabled:focus {
      background: #a9d4ff;
    }
    .react-calendar__tile--active {
      background: #fdeaff;  //選定日期
      color: #8c33e4;
    }
    .react-calendar__tile--active:enabled:hover,
    .react-calendar__tile--active:enabled:focus {
      background: $calendar-day-chose;  // 選定日期hover
      color: white;
      border-radius: 10px;
    }
    .react-calendar--selectRange .react-calendar__tile--hover {
      background-color: #e6e6e6;
    }
    
    
    .react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeEnd {
        background-color: #8c33e4;
        color: white;
        border-radius: 0 10px 10px 0;
    }
    
    .react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart {
        background-color: #8c33e4;
        color: white;
        border-radius:  10px 0 0 10px;
    }
    
    .react-calendar__tile.react-calendar__tile--hover {
        background-color: #fdeaff;
    }
}



