body {
    overflow-y: scroll; /* Show scrollbars */
    min-width: 370px;

}

a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
}

input {
    // outline: none;
}